body{
    background: #efefef;
}

.main {
    background: white;
    margin: 30px;
}

.jumbotron {
    margin: 50px;
}

.community-menu {
    color: #999;
    font-size: 15px;
    margin-bottom: 15px;
}

.btn-publish{
    float: right;
    margin: 15px;
}

.media-object{
    width: 40px;
    height: 40px;
}

.profile-section {
    margin-top: 15px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.community-icon {
    margin-outside: 5px;
}

