body{
    background: #efefef;
}

.main {
    background: white;
    margin: 30px;
}

.jumbotron {
    margin: 50px;
}

.community-menu {
    color: #999;
    font-size: 15px;
    margin-bottom: 15px;
}

.btn-publish{
    float: right;
    margin: 15px;
}

.media-object{
    width: 55px;
    height: 55px;
}

.comment-list .media-object{
    width: 45px;
    height: 45px;
}

.profile-section {
    margin-top: 15px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.community-icon {
    margin-outside: 5px;
}

.comment {
    margin: 10px 0;
}

.btn-comment {
    float: right;
    margin-bottom: 10px;
}

.comment-sp-top {
    margin-top: 0;
}

.comment-sp-bottom {
    margin-bottom: 0;
}

.comment-count {
    margin-top: 20px;
}

.comment-menu {
    color: #999;
    margin-top: 5px;
}

.comment-menu .comment-icon {
    font-size: 15px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
}

.comment-menu .comment-icon:hover {
    color: #499ef3;
}

.comment-list .media {
    margin-top: 7px;
    margin-bottom: 7px;
}

.comment-content {
    margin: 5px;
}