<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/community.js"></script>
</head>
<body>

<div th:insert="navigation :: nav"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--  正文  -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3><strong><span th:text="${question.title}"></span></strong></h3>
                作者：<span th:text="${question.user.name}"></span> ｜
                发布时间：<span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm:ss')}"></span> ｜
                阅读数：<span th:text="${question.viewCount}"></span>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${question.description}"></div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--标签-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span class="label label-info question-tag" th:each="tag:${question.tag.split(',')}">
                        <span class="glyphicon glyphicon-tags"></span>
                        <span class="label label-info" th:text="${tag}"></span>
                    </span>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp-bottom">
                <div>
                    <a th:href="@{'/publish/'+${question.id}}" class="community-menu"
                       th:if="${session.user != null && session.user.id == question.creator}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        编辑
                    </a>
                </div>
            </div>

            <!--  回复列表  -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-list" id="comment-list">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp-top">
                    <h4 class="comment-count">
                        <strong>
                            <span th:text="${question.commentCount}"></span> 个回复
                        </strong>
                    </h4>
                </div>
                <!--评论内容-->
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp-top">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp-top media"
                     th:each="comment:${paginationComment.datas}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${comment.user.getAvatarurl()}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <strong><span th:text="${comment.user.getName()}"></span></strong>
                        </h5>
                        <span class="comment-content" th:text="${comment.description}"></span>
                        <div class="comment-menu">
                            <span class="glyphicon glyphicon-thumbs-up comment-icon"></span>
                            <span class="glyphicon glyphicon-comment comment-icon"
                                  th:onclick="'collapseComments('+${comment.id}+',1)'"></span>
                            <span class="comment-icon" th:text="${comment.commentCount}"></span>
                            <span class="pull-right community-time"
                                  th:text="${#dates.format(comment.gmtCreate, 'yyyy-MM-dd hh:mm:ss')}"></span>
                        </div>
                        <!-- 二级评论 -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp-top collapse sub-comment" th:id="${'comment-'+comment.id}">
                            <div th:id="${'commentList-'+comment.id}">
                            </div>

                            <!--二级评论页码-->
                            <div th:if="${comment.commentCount > 0}">
                                <nav aria-label="Page navigation" th:id="${'comment-nav-'+comment.id}">
                                </nav>
                            </div>

                            <!--二级评论回复-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input th:id="'comment-sub-content-'+${comment.id}" type="text" class="form-control"
                                       placeholder="回复">
                                <button type="button" class="btn btn-success pull-right"
                                        th:onclick="'comment_from_comment('+${comment.id}+')'">回复
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                </div>
                <!--回复列表页码-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp-top"
                     th:if="${question.commentCount > 0}">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li th:if="${paginationComment.showFirstPage}">
                                <a th:href="'/question/'+${question.id}+'?page=1'" aria-label="firstpage">
                                    <span aria-hidden="true">&lt;&lt;</span>
                                </a>
                            </li>
                            <li th:if="${paginationComment.showPrevious}">
                                <a th:href="'/question/'+${question.id}+'?page='+${paginationComment.page-1}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&lt;</span>
                                </a>
                            </li>
                            <li th:each="page : ${paginationComment.pages}"
                                th:class="${paginationComment.page == page} ? 'active':''">
                                <a th:href="'/question/'+${question.id}+'?page='+${page}" th:text="${page}"></a>
                            </li>
                            <li th:if="${paginationComment.showNext}">
                                <a th:href="'/question/'+${question.id}+'?page='+${paginationComment.page+1}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&gt;</span>
                                </a>
                            </li>
                            <li th:if="${paginationComment.showEndPage}">
                                <a th:href="'/question/'+${question.id}+'?page='+${paginationComment.totalPage}"
                                   aria-label="endpage">
                                    <span aria-hidden="true">&gt;&gt;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <!--  回复输入框  -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${question.user.getAvatarurl()}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <strong><span th:text="${question.user.getName()}"></span></strong>
                        </h4>
                    </div>
                </div>
                <input type="hidden" id="question_id" name="question_id" th:value="${question.id}">
                <textarea class="form-control comment" id="comment_content" rows="6"></textarea>
                <button type="button" class="btn btn-success btn-comment" onclick="comment_from_question()">回复</button>
            </div>
        </div>

        <!--右侧信息-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <!--发帖人信息-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4><strong>发起人</strong></h4>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" th:src="${question.user.getAvatarurl()}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <strong><span th:text="${question.user.getName()}"></span></strong>
                        </h5>
                        <span class="text-desc">
                                <span th:text="${question.commentCount}"></span>个关注
                        </span>
                    </div>
                </div>
            </div>
            <!--相关问题-->
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4><strong>相关问题</strong></h4>
                <div class="list-group" th:each="related:${relatedQuestion}">
                    <a th:href="'/question/'+${related.id}" class="list-group-item">
                        <h5 class="list-group-item-heading"><strong><span th:text="${related.title}"></span></strong>
                        </h5>
                        <p class="list-group-item-text related-question-content" th:text="${related.description}"></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>